<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Change Password</title>
</head>
<body>

<main>
  <h1>Change Password</h1>

  <form id="resetForm">
    <label for="newPassword">New Password:</label>
    <input type="password" id="newPassword" required><br><br>

    <label for="confirmPassword">Confirm New Password:</label>
    <input type="password" id="confirmPassword" required><br><br>

    <button type="submit">Change Password</button>
  </form>

  <button id="backHomeBtn">Back to Home</button>
</main>

<script src="{{ url_for('static', filename='js/reset.js') }}"></script>

</body>
</html>
