<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body>

<h1>Reset Password</h1>

<form id="resetForm">
    <label>New Password:</label>
    <input type="password" id="new_password" required><br><br>

    <button type="submit">Update Password</button>
</form>

<br>
<a href="/home">Back to home</a>

<script src="{{ url_for('static', filename='js/reset.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</body>
</html>